@using TicketSaleCore.Models.IdentityWithoutEF
@model IEnumerable<TicketSaleCore.Models.IdentityWithoutEF.User>
    @{
        ViewData["Title"] = "User List";
    }

    <h2>Index</h2>
<a asp-action="Create">Добавить пользователя</a>

<table class="table">
    <tr><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="item">
    <ul>
        <li><a class="button" asp-action="Index" asp-controller="Cities">Edit Cites</a></li>
        <li><a class="button" asp-action="Index" asp-controller="Status">Edit Ticked Status</a></li>
        <li><a class="button" asp-action="Index" asp-controller="Venues">Edit Venues</a></li>
        <li><a class="button" asp-controller="Events" asp-action="Index">Edit Events</a></li>
    </ul>
    
</div>
