@using TicketSaleCore.Models.Entities
@model IEnumerable<TicketSaleCore.Models.Entities.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if(@User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="ui celled table">
    <thead>
        <tr>
            <th display-for="name">
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th display-for="Date">
                @*@Html.DisplayNameFor(model => model.Date)*@
            </th>
            <th display-for="Banner">
                @*@Html.DisplayNameFor(model => model.Banner)*@
            </th>
            <th display-for="Description">
                @*@Html.DisplayNameFor(model => model.Description)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <img src="@item.Banner" style="height: 50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @if(@User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
