@model IEnumerable<TicketSaleCore.Models.Ticket>
@{
    ViewBag.Title = "title";
}


<h2>Index</h2>


<div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Selling Tickets</a>
    <a class="item" data-tab="second">Waiting Confomition</a>
    <a class="item" data-tab="third">Sold</a>
</div>

<div class="ui bottom attached active tab segment" data-tab="first">
    <table class="ui celled padded table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellerNotes)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink(@item.Event.Name, "Details", "Events",new {id=@item.Event.Id})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerNotes)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
       <table class="ui celled padded table">
           <thead>
           <tr>
               <th>
                   @Html.DisplayNameFor(model => model.Seller)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Event)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Price)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Order.Buyer)
               </th>
           </tr>
           </thead>
           <tbody>
           @foreach (var item in ViewBag.WaitConf)
           {
               <tr>
                   <td>
                       @item.Seller
                   </td>
                   <td>
                     <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Event.Id">@item.Event.Name</a>
                   </td>
                   <td>
                       @item.Price
                   </td>
                   <td>
                       @item.Order.Buyer
                   </td> 
               </tr>
           }
           </tbody>
       </table>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
    <table class="ui celled padded table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Buyer)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewBag.Confirmed)
        {
            <tr>
                <td>
                    @item.Seller
                </td>
                <td>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Event.Id">@item.Event.Name</a>
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Order.Buyer
                </td> 
            </tr>
        }
        </tbody>
    </table>
</div>
<script type="application/javascript">
    $('.menu .item').tab();
</script>
