@using Microsoft.AspNetCore.Identity
@using TicketSaleCore.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic/dist/semantic.js"></script>
<link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css">

@if (SignInManager.IsSignedIn(User))
{
    <a class="item" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    <form asp-controller="Account"
          asp-action="LogOff"
          method="post"
          class="ui form"
          asp-route-returnUrl="@Context.Request.Path">
        @*<div class="negative ui submit button ">Log out</div>*@
        <button type="submit" class="negative ui button">Log out</button>
    </form>
    <a class="item" asp-controller="UserTickets" asp-action="Index">@UserManager.GetUserName(User) Tikets</a>
    if (User.IsInRole("admin"))
    {
        <div class="item">
            <a class="circular ui icon button" asp-controller="Users" asp-action="Index">
                <i class="icon settings"></i>
            </a>
        </div>

    }

}

else
{
    <div class="ui buttons">
        <a class="ui button" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path">
            <i class="signup icon"></i>
            Register
        </a>
        <div class="or"></div>
        <a class="ui positive button" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path">Login</a>
    </div>

}
<script type="text/javascript">
    $('.ui.form').form(submit);
</script>