@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Models
@using TicketSaleCore.Models.IdentityWithoutEF

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer Localizer

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic/dist/semantic.js"></script>
<link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css">

@if (SignInManager.IsSignedIn(User))
{
    <a class="item" asp-controller="Manage" asp-action="Index" title="Manage">@Localizer["Hello"] @UserManager.GetUserName(User)!</a>
    <form asp-controller="Account"
          asp-action="LogOff"
          method="post"
          class="ui form"
          asp-route-returnUrl="@Context.Request.Path">
        @*<div class="negative ui submit button ">Log out</div>*@
        <button  class=" ui submit button negative ">@Localizer["Log out"]</button>
    </form>
    <a class="item" 
       asp-controller="UserTickets" 
       asp-action="Index">@UserManager.GetUserName(User) @Localizer["Tikets"]</a>
    <a class="item" 
       asp-controller="Orders" 
       asp-action="Index" asp-route-id="@UserManager.GetUserId(User)">@UserManager.GetUserName(User) @Localizer["Order"]</a>
    if (User.IsInRole("admin"))
    {
        <div class="item">
            <a class="circular ui icon button" asp-controller="Users" asp-action="Index">
                <i class="icon settings"></i>
            </a>
        </div>
    }
}

else
{
    <div class="ui buttons">
        <a class="ui button" 
           asp-controller="Account" 
           asp-action="Register" 
           asp-route-returnUrl="@Context.Request.Path">
            <i class="signup icon"></i>
        @Localizer["Register"]
        </a>
        <div class="or"   data-text="@Localizer["or"]"></div>
      
        <a class="ui positive button"
           asp-action="Login"
           asp-controller="Account"
           asp-route-returnUrl="@Context.Request.Path">
        @Localizer["Login"]
        </a>
    </div>
}
