@using System.Globalization
@using TicketSaleCore.Models
@model  IEnumerable<TicketSaleCore.ViewModels.HomeViewModels.EventsHomeViewModel>
@{
    ViewData["Title"] = "Event Home";
}
<div class="ui grid">

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("admin"))
        {
            <a>Admin is work</a>
        }
    }
    else
    {

    }
    <div class="ui items">
        @foreach (var item in Model)
        {
            @*@Html.ActionLink("item.Name", "IndexTickedForEvent","Tickets",new {id=@item.Id})*@


            <div class="item six wide row">
                <div class="ui small image">
                    <img src="@item.Banner"
                         @*style="height: 60px;width: 60px" *@>
                </div>
                <div class="content">
                    <a class="header"
                       asp-controller="Tickets"
                       asp-action="Index"
                       asp-route-id="@item.Id">
                        @item.Name
                    </a>
                    <div class="meta">
                        <span>@item.Venue.Address</span>
                    </div>
                    <div class="ui two column divided grid description">
                        <div class="row">
                            <div class="column">
                                <div>@item.Description</div>
                                <div>@item.Date.ToString("D", CultureInfo.CurrentCulture)</div>
                            </div>
                            <div class="right floated column middle aligned">
                                <div class="ui vertically divided grid">
                                    <div class="two column row">
                                        <div class="small column">
                                            <div>available </div>
                                            <div>tikets:</div>
                                        </div>
                                        <div class="column small left middle aligned">
                                            <b>@item.AvailableTicket</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="extra">@item.Venue.City.Name</div>
                </div>
            </div>
        }
    </div>
</div>
